/* Nord Colors */
@define-color black #2e3440;
@define-color bg #2e3440;
@define-color grey #4c566a;
@define-color white #e5e9f0;
@define-color red #bf616a;
@define-color orange #d08770;
@define-color yellow #ebcb8b;
@define-color green #a3be8c;
@define-color purple #b48ead;
@define-color blue #81a1c1;
@define-color cyan #8fbcbb;
@define-color aqua #88c0d0;
@define-color navy #5e81ac;

/* Fonts */
* {
  font-family: "Mononoki Nerd Font";
  font-size: 14px;
  color: @white;
}

window {
  background-color: rgba(46, 52, 64, 0);
}

#custom-rofi,
#custom-dunst,
#custom-browser,
#custom-file,
#custom-setting,
#custom-spotify,
#window,
#workspaces,
#tray,
#network,
#bluetooth,
#cpu,
#memory,
#temperature,
#pulseaudio,
#backlight,
#battery,
#clock {
  background-color: rgba(46, 52, 64, 0.75);
}

#custom-rofi,
#custom-dunst,
#custom-browser,
#custom-file,
#custom-setting,
#custom-spotify,
#window,
#tray,
#network,
#bluetooth,
#cpu,
#memory,
#temperature,
#pulseaudio,
#backlight,
#battery,
#clock {
  padding: 0px 5px 0px 5px;
}

#workspaces button {
  padding: 0px 7.5px 0px 7.5px;
}

#custom-rofi,
#tray,
#cpu {
  border: none;
  border-radius: 5px 0px 0px 5px;
}

#custom-setting,
#bluetooth,
#battery {
  border: none;
  border-radius: 0px 5px 5px 0px;
}

#custom-spotify,
#window,
#workspaces,
#clock {
  border: none;
  border-radius: 5px;
}

#custom-setting,
#custom-spotify,
#window,
#bluetooth,
#battery {
  margin: 0px 5px 0px 0px;
}

#workspaces button.active {
  background: rgba(229, 233, 240, 0.1);
}

#battery.warning {
  color: @orange;
}

#battery.critical {
  color: @red;
}

#battery.charging {
  color: @green;
}

#battery.plugged {
  color: @green;
}

#temperature.critical {
  color: @red;
}
