.music-cover {
  background-size: 140px;
  min-height: 140px;
  min-width: 140px;
  margin: 10px;
  border-radius: 5px;
  // padding: 10px;
}

.music-info {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 25px;
  margin-bottom: 10px;
  color: #ebcb8b;
  color: #e5e9f0;
}
